{
  "name": "@hyperfrontend/e2e-<%= libName %>",
  "version": "0.0.0",
  "private": true,
  "description": "E2E tests for <%= packageName %> package outputs",
  "scripts": {
    "pack-install": "cd <%= e2eOffsetFromRoot %>dist/<%= projectRoot %> && npm pack && cd - && npm install <%= e2eOffsetFromRoot %>dist/<%= projectRoot %>/*.tgz"
  },
  "dependencies": {
    "<%= packageName %>": "file:<%= e2eOffsetFromRoot %>tmp/e2e-packs/hyperfrontend-<%= libName %>-0.0.0.tgz"
  },
  "devDependencies": {
    "@types/node": "25.3.3",
    "typescript": "5.7.3"
  }
}
